#containerCart{
    max-width: 500px;
    margin: auto;
  }
  
  .cardProduct{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 20px;
  }
  
  .cardProduct img{
    height: 100%;
  }
  
  .cardProduct h3{
    width: 130px;
  }
  .cardProduct div{
    background-color: var(--color-acento-claro);
    padding: 3px;
    border-radius: 5px;
  }
  
  #total{
    text-align: center;
  }
  
  #emptyCart{
    text-align: center;
  }